html,
body {
    font-size: 10px;
    height: 100%; /* pega a altura da página num todo */
}

body {
    background-color: var(--color-pomb-and-power);
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive; 
}